// $background-color: #0F201E;
// $text-color: #04ABCA;
// $body-font: "ff-enzo-web",sans-serif;
@import "settings";

// html, body {
//   height: 100%;
//   min-height: 100%;
// }

// .fullscreen-img {
//   display:block;
//   z-index:1;
//   min-width:100%;
//   height: 38%;
//   background:transparent url('../img/orchid.jpg') center center no-repeat;
//   border-bottom: 50px solid rgba(177, 99, 163, 0.36);
// }

// .content-area {
//   border-top: 4px solid #f5ae8e;
// }

// .services-content {
//   background-color: #F1F1F1;
// }

// .full-width {
  // padding: 4%;
// }

.top-bar-section ul li > a, .top-bar-section ul li > a:active, .top-bar-section ul li > a:visited {
  text-transform: uppercase;
  transition: background 0.5s ease;
}

.name {
   height: 0px;
}

.brand {
  text-align: center;

  h1 {
    color: #fff;
    font-size: 5em;
    text-shadow: 4px 7px 1px rgba(46, 240, 248, 0.42);

    a:visited {
      color: #fff;
    }
  }
}

.leader-content {
  padding: 0 7% 7% 7%;

  ul {
    list-style-type: none;
  }

  li img {
    height: 331px;
    margin-top: 29px;
  }
}

h2 {
  text-shadow: 3px 4px 1px rgba(46, 240, 248, 0.42);
  border-bottom: 2px solid rgba(156, 124, 111, 0.43);
}

.stripe {
  background-color: #f5ae8e;
  height: 4px;
}

.top-bar ul li {
  border-bottom: 4px solid rgba(46, 240, 248, 0.11);
}

.f-topbar-fixed {padding-top: 0 !important;}

.portfolioFilter {
  text-align: center;
  margin-bottom: 10px;

  a {
    margin-right: 10px;
    color:#666;
    text-decoration:none;
  }

  a.current {
    font-weight:bold;
  }
}

.portfolioContainer {
  margin: 0 auto;
  padding: 15px;
  border: 6px solid black;
}

.item {
  float: left;
  margin: 15px;
  width: 150px;
  height: 150px;
}

.item.w2 {
  width: 330px;
}

.item.h2 {
  height: 330px;
}

// the rest are required by isotope
.isotope-item {
  width: 150px;
  margin: 15px;
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  transition-duration: 0.8s;
}

.isotope {
  transition-property: height, width;
  .isotope-item {
    transition-property: transform, opacity;
  }
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  transition-duration: 0s;
}
