<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Christina Day - Portfolio</title>
    <link rel="stylesheet" href="css/app.css" />
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Parisienne' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Mrs+Sheppards' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/scss/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/app.css"
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/underscorejs/1.6.0/underscore-min.js"></script>
    <script type="text/javascript" src="//use.typekit.net/pfj2kgt.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <!--HEADER AREA-->
    <!-- NAVIGATION AREA -->
    <header>
      <div class="row">
        <div class="fixed">
          <nav class="top-bar" data-topbar>
            <ul class="title-area">
              <li class="name"><a href="index.html">Christina<span>Marie</span>Day</a></li>
              <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
            </ul>
            <section class="top-bar-section">
              <ul class="right">
                <li><a href="index.html#about">About</a></li>
                <li><a href="index.html">Portfolio</a></li>
                <li><a href="http://neonmoment.tumblr.com" target="blank">Blog</a></li>
                <li><a href="index.html#contact">Contact</a></li>
              </ul>
            </section>
          </nav>
        </div>
      </div>
    </header>

    <main>
      <a name="portfolio"></a>

            <div class="portfolioFilter">
              <a href="#" data-filter="*" class="current">All Categories</a>
              <a href="#" data-filter=".design">All Design Work</a>
              <a href="#" data-filter=".logo">Logos</a>
              <a href="#" data-filter=".web">Web</a>
              <a href="#" data-filter=".print">Print</a>
              <a href="#" data-filter=".photography">Photography</a>
              <a href="#" data-filter=".draw-paint">Drawings &amp; Paintings</a>

            </div>

          </div>
        </div>
        <div class="row portfolioWrapper">
        <div class="large-12 columns portfolioContainer">


<!-- // ******** for reference, print out as background image in erb file -->
        <div class="item item-w2 item-h3 print photography design">
            <a href="#" data-reveal-id="firstModal" data-reveal>
              <img src="assets/bookcover-sm.jpg"/>
            </a>
        </div>
      </a>

          <div class="item item-h2 draw-paint">
            <a href="#" data-reveal-id="secondModal" data-reveal>
              <img src="assets/sketch1-sm.jpg"/>
            </a>
          </div>

          <div class="item item-h2 logo design">
            <a href="#" data-reveal-id="thirdModal" data-reveal>
              <img src="assets/big-brother-sm.jpg"/>
            </a>
          </div>

          <div class="item draw-paint">
            <a href="#" data-reveal-id="fourthModal" data-reveal>
              <img src="assets/sisters-sm.jpg"/>
            </a>
          </div>

          <div class="item item-h2 logo web design">
            <a href="#" data-reveal-id="fifthModal" data-reveal>
              <img src="assets/navya-sm.jpg"/>
            </a>
          </div>


          <div class="item">
              <img src="assets/west-tx-sm.jpg"/>
          </div>

          <div class="item item-w2 item-h3 logo">
            <a href="#" data-reveal-id="seventhModal" data-reveal>
              <img src="assets/janus-sm.jpg"/>
            </a>
          </div>

          <div class="item item-h2 logo design">
            <a href="#" data-reveal-id="eighthModal" data-reveal>
              <img src="assets/makersquare-sm.jpg"/>
            </a>
          </div>

          <div class="item item-w2 item-h2 logo web design">
            <a href="#" data-reveal-id="ninthModal" data-reveal>
              <img src="assets/vespaio-sm.jpg"/>
            </a>
          </div>

          <div class="item item-w2 item-h3 logo">
            <a href="#" data-reveal-id="tenthModal" data-reveal>
              <img src="assets/nymet-sm.jpg"/>
            </a>
          </div>

          <div class="item item-h2 photography">
            <a href="#" data-reveal-id="eleventhModal" data-reveal>
              <img src="assets/ginza1-sm.jpg"/>
            </a>
          </div>

          <div class="item item-w2 item-h3 design">
            <a href="#" data-reveal-id="twelfthModal" data-reveal>
              <img src="assets/raketbot-sm.jpg"/>
            </a>
          </div>

          <div class="item draw-paint">
            <a href="#" data-reveal-id="thirteenthModal" data-reveal>
              <img src="assets/secrets-sm.jpg"/>
            </a>
          </div>

          <div class="item item-w2 item-h2 draw-paint">
            <img src="assets/cerebrus-sm.jpg"/>
          </div>

          <div class="item photography">
            <a href="#" data-reveal-id="fourteenthModal" data-reveal>
              <img src="assets/ginza2-sm.jpg"/>
            </a>
          </div>

          <div class="item item-h2 draw-paint">
            <img src="assets/mythos-sm.jpg"/>
          </div>

          <div class="item item-w2 item-h3 draw-paint">
            <img src="assets/angela-sm.jpg"/>
          </div>


        </div>
      </div>
      <a name="about"></a>


            <div class="full-width content-area about-content">
              <div class="row">
                <h2 class="large-12 columns">About Us</h2>
                <a name="about"></a>
              </div>
                <div class="row">

                  <div class="large-6 columns">
                      <p>
                        Christina is a visual artist and designer in the central Austin area. She is currently expanding her front-end  development experience so she can participate more in the web design project workflow.
                      </p>
                      <p>
                        When she isn't creating, Christina enjoys cooking, playing with her dog, rearranging her furniture, and spoenging up pointless trivia about TV shows from the '60's and '70's.
                      </p>
                  </div>

                  <div class="large-4 columns">

                    <img class="circular-portrait" src="../assets/headshot.jpg" alt="portrait of christina" height="300">

                  </div>

                </div>
            </div>


      <div class="full-width content-area contact-content">
        <a name="contact"></a>
        <div class="row">
          <h2 class="large-12 columns">Contact Us</h2>
        </div>

          <div class="row">
            <div class="large-8 medium-8 columns">
              <!-- Grid Example -->
              <form data-abide action="http://getsimpleform.com/messages?form_api_token=2a20f37052b04e81aca043f2ae506ae7" method="post">
                <div class="row">

                  <div class="large-6 columns">
                    <label>Name</label>
                    <input type="text" name='name' pattern="alpha" placeholder="First Last" required />
                    <small class="error">First and Last Name</small>
                  </div>
                  <div class="large-6 medium-6 columns">
                    <label>E-mail</label>
                    <input type="email" name='email'  pattern="email" placeholder="example@yourmail.com" required />
                    <small class="error">Please give a valid email.</small>
                  </div>
                </div>

                <div class="row">
                  <div class="large-12 columns">
                    <label>Comments</label>
                    <textarea name="comments" placeholder="What's on your mind?"></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="large-12 columns">
                    <button type="submit">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

    </main>

        <!-- FOOTER AREA -->
        <footer class="full-width footer-area">
          <div class="row">
            <div class="large-12 columns">

            </div>
          </div>
        </footer>

        <!--Reveal Modals Begin-->

              <div id="firstModal" class="reveal-modal" data-reveal>
                <div class="row">
                    <div class="large-8 columns">
                      <img src="assets/bookcover-sm.jpg"/>
                    </div

                    <div class="large-5 columns"
                      <h3>Tokyo Photobook Project</h3>
                      <p>More info soon</p>
                      <a class="close-reveal-modal">&#215;</a>
                    </div>
                </div>
              </div>

              <div id="secondModal" class="reveal-modal" data-reveal>
                <div class="row">
                    <div class="large-8 columns">
                      <img src="assets/sketch1-sm.jpg"/>
                    </div

                    <div class="large-5 columns"
                      <h3>From my sketchbook</h3>
                      <a class="close-reveal-modal">&#215;</a>
                    </div>
                </div>
              </div>

              <div id="thirdModal" class="reveal-modal" data-reveal>
                <div class="row">
                    <div class="large-7 columns">
                      <img src="assets/big-brother-m.jpg"/>
                    </div

                    <div class="large-5 columns"
                      <p>Created for a design workshop</p>
                      <a class="close-reveal-modal">&#215;</a>
                    </div>
                </div>
              </div>

              <div id="fourthModal" class="reveal-modal" data-reveal>
                <div class="row">
                    <div class="large-8 columns">
                      <img src="assets/sisters-m.jpg"/>
                    </div

                    <div class="large-4 columns"
                      <h3><em>Sisters</em></h3>
                      <p>Oil paint and graphite on birch</p>
                      <a class="close-reveal-modal">&#215;</a>
                    </div>
                </div>
              </div>

              <div id="fifthModal" class="reveal-modal" data-reveal>
                <div class="row">
                    <div class="large-7 columns">
                      <img src="assets/bookcover-sm.jpg"/>
                    </div

                    <div class="large-5 columns"
                      <h3>Tokyo Photobook Project</h3>
                      <p>More info soon</p>
                      <a class="close-reveal-modal">&#215;</a>
                    </div>
                </div>
              </div>

              <div id="sixthModal" class="reveal-modal" data-reveal>
                <div class="row">
                    <div class="large-7 columns">
                      <img src="assets/bookcover-sm.jpg"/>
                    </div

                    <div class="large-5 columns"
                      <h3>Tokyo Photobook Project</h3>
                      <p>More info soon</p>
                      <a class="close-reveal-modal">&#215;</a>
                    </div>
                </div>
              </div>

              <div id="seventhModal" class="reveal-modal" data-reveal>
                <div class="row">
                    <div class="large-8 columns">
                      <img src="assets/janus-m.jpg"/>
                    </div

                    <div class="large-5 columns"
                      <h3>Janus</h3>
                      <p>Graphite on birch</p>
                      <a class="close-reveal-modal">&#215;</a>
                    </div>
                </div>
              </div>

              <div id="eighthModal" class="reveal-modal" data-reveal>
                <div class="row">
                    <div class="large-8 columns">
                      <img src="assets/bookcover-sm.jpg"/>
                    </div

                    <div class="large-5 columns"
                      <h3>Tokyo Photobook Project</h3>
                      <p>More info soon</p>
                      <a class="close-reveal-modal">&#215;</a>
                    </div>
                </div>
              </div>

              <div id="ninthModal" class="reveal-modal" data-reveal>
                <div class="row">
                    <div class="large-7 columns">
                      <img src="assets/bookcover-sm.jpg"/>
                    </div

                    <div class="large-5 columns"
                      <h3>Tokyo Photobook Project</h3>
                      <p>More info soon</p>
                      <a class="close-reveal-modal">&#215;</a>
                    </div>
                </div>
              </div>

              <div id="tenthModal" class="reveal-modal" data-reveal>
                <div class="row">
                    <div class="large-8 columns">
                      <img src="assets/nymet-m.jpg"/>
                    </div

                    <div class="large-5 columns"
                      <h3>The Met, NY</h3>
                      <p>Canon AE-1</p>
                      <a class="close-reveal-modal">&#215;</a>
                    </div>
                </div>
              </div>

              <div id="eleventhModal" class="reveal-modal" data-reveal>
                <div class="row">
                    <div class="large-8 columns">
                      <img src="assets/ginza-m.jpg"/>
                    </div

                    <div class="large-5 columns"
                      <h3>Ginza, Kyoto</h3>
                      <p>Canon AE-1</p>
                      <a class="close-reveal-modal">&#215;</a>
                    </div>
                </div>
              </div>

              <div id="twelfthModal" class="reveal-modal" data-reveal>
                <div class="row">
                    <div class="large-8 columns">
                      <img src="assets/raketbot-m.jpg"/>
                    </div

                    <div class="large-5 columns"
                      <h3>Robot concept drawing</h3>
                      <p>Illustrated in Photoshop</p>
                      <a class="close-reveal-modal">&#215;</a>
                    </div>
                </div>
              </div>

              <div id="thirteenthModal" class="reveal-modal" data-reveal>
                <div class="row">
                    <div class="large-8 columns">
                      <img src="assets/secrets-m.jpg"/>
                    </div

                    <div class="large-5 columns"
                      <h3><em>Secrets</em></h3>
                      <p>Oil paint on canvas</p>
                      <a class="close-reveal-modal">&#215;</a>
                    </div>
                </div>
              </div>

              <div id="fourteenthModal" class="reveal-modal" data-reveal>
                <div class="row">
                    <div class="large-8 columns">
                      <img src="assets/ginza2-m.jpg"/>
                    </div

                    <div class="large-5 columns"
                      <h3><em>Ginza, Kyoto</em></h3>
                      <p>Canon AE-1</p>
                      <a class="close-reveal-modal">&#215;</a>
                    </div>
                </div>
              </div>

        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/foundation/js/foundation.min.js"></script>
        <script src="js/app.js"></script>
        <script>
          $(document).foundation();
        </script>


        <script src="js/jquery.isotope.js" type="text/javascript"></script>

        <script type="text/javascript">
        (function ($) {
          var $container = $('.portfolioContainer'),
            colWidth = function () {
              var w = $container.width(),
                columnNum = 1,
                columnWidth = 0;
              if (w > 1200) {
                columnNum  = 5;
              } else if (w > 900) {
                columnNum  = 4;
              } else if (w > 600) {
                columnNum  = 3;
              } else if (w > 300) {
                columnNum  = 2;
              }
              columnWidth = Math.floor(w/columnNum);
              $container.find('.item').each(function() {
                var $item = $(this),
                  multiplier_w = $item.attr('class').match(/item-w(\d)/),
                  multiplier_h = $item.attr('class').match(/item-h(\d)/),
                  width = multiplier_w ? columnWidth*multiplier_w[1]-4 : columnWidth-4,
                  height = multiplier_h ? columnWidth*multiplier_h[1]*0.5 -4: columnWidth*0.5 -4;
                $item.css({
                  width: width,
                  height: height
                });
              });
              return columnWidth;
            },
            isotope = function () {
              $container.isotope({
                resizable: false,
                itemSelector: '.item',
                masonry: {
                  columnWidth: colWidth(),
                  gutterWidth: 4
                }
              });
            };
          isotope();
          $(window).smartresize(isotope);


          $('.portfolioFilter a').on('click', function(event){
              event.preventDefault();
              $('.portfolioFilter .current').removeClass('current');
              $(this).addClass('current');

              var selector = $(this).data('filter');
              $container.isotope({
                  filter: selector,
                  animationOptions: {
                      duration: 750,
                      easing: 'linear',
                      queue: false
                  }
               });
               // resizer();
               return false;
          });

          // var resizer = function() {
          //   console.log("im running");
          //   var images = $('img');
          //   for(var i = 0; i <= images.length; i += 1) {
          //     var $image = $(images[i]);
          //     var wrapperHeight = $image.parents('.item').height();
          //     var wrapperWidth = $image.parents('.item').width();
          //     var imageh = $image.height();
          //     var imagew = $image.width();

          //     if (i === 1) {
          //       console.log($image);
          //       console.log("wrapper height ", wrapperHeight);
          //       console.log("wrapper width ", wrapperWidth);
          //       console.log("image height ", imageh);
          //       console.log("image width ", imagew);
          //     }

              // use background-size with background-images instead
          //     if (imageh > wrapperHeight) {
          //       $image.css('width', "inherit");
          //     } else if (imagew > wrapperWidth) {
          //       $image.css('height', "inherit");
          //     } else {

          //     }
          //   }
          // };
        }(jQuery));


          // $(window).load(function(){
          //     var $container = $('.portfolioContainer');
          //     $container.isotope({
          //         filter: '*',
          //         animationOptions: {
          //             duration: 750,
          //             easing: 'linear',
          //             queue: false
          //         }
          //     });

          //     $('.portfolioFilter a').on('click', function(event){
          //         event.preventDefault();
          //         $('.portfolioFilter .current').removeClass('current');
          //         $(this).addClass('current');

          //         var selector = $(this).data('filter');
          //         $container.isotope({
          //             filter: selector,
          //             animationOptions: {
          //                 duration: 750,
          //                 easing: 'linear',
          //                 queue: false
          //             }
          //          });
          //          return false;
          //     });
          // });
        </script>



      </body>
</html>
